<ng-container *ngIf="typeView === 0">
  <app-pagination [totalPages]="10" [currentPage]="5" [itemsBeforeAfter]="2"></app-pagination>
  <app-pagination [totalPages]="36" [currentPage]="1" [itemsBeforeAfter]="5"></app-pagination>
  <app-pagination [totalPages]="0" [currentPage]="0" [itemsBeforeAfter]="2"></app-pagination>
  <app-pagination [totalPages]="3" [currentPage]="2" [itemsBeforeAfter]="5"></app-pagination>
  <app-pagination [totalPages]="2" [currentPage]="2" [itemsBeforeAfter]="5"></app-pagination>
</ng-container>
<ng-container *ngIf="typeView === 1 || typeView === 2">
  {{resultData}}
</ng-container>
